:root {
  --new-primary-color: #f0b310;
  --new-hover-color: #ac8211;
}

.cards {
  margin-top: -5%;
}

.about-us-container {
  margin-top: 5em;
  position: relative;
  background: url("../../images/company\ 10/about us.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
