:root {
  --new-primary-color: #ed1b2e;
  --new-hover-color: #b61a27;
}

.cards {
  margin-top: -5%;
}

.about-us-container {
  margin-top: 5em;
  position: relative;
  background: url("../../images/company\ 4/about us.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
