:root {
  --new-primary-color: #72B522;
  --new-hover-color: #4f7e17;
}

.cards {
  margin-top: -5%;
}

.about-us-container {
  margin-top: 5em;
  position: relative;
  background: url("../../images/company\ 14/about us.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
