@media (max-width: 1920px) {
  .nav-links {
    width: 60%;
  }
}

@media (max-width: 1280px) {
  .nav-links {
    width: 80%;
  }

  .hero-container .text-container h1 {
    margin: 0.5em 0;
  }
}

@media (max-width: 1000px) {
  .desktop-image {
    display: none;
  }

  .logo {
    width: 80px;
    height: 80px;
  }

  .nav-links {
    width: 100%;
  }

  .nav-overLay {
    display: none;
  }

  .hero-container {
    width: 100%;
    background-image: url("/assets/images/landing\ page/mobile\ hero\ image.webp");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    isolation: isolate;
  }

  .hero-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
  }

  .hero-container .text-container {
    position: static;
    padding: 0 1em 1em;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  .hero-container .text-container p {
    text-shadow: 0 0 10px var(--black-color);
    font-weight: 600;
    padding: 0.5em;
  }
}

@media (max-width: 850px) {
  .services-container br {
    display: none;
  }
}

@media (max-width: 800px) {
  .companies-container {
    grid-template-columns: repeat(3, minmax(150px, 200px));
  }
}

@media (max-width: 660px) {
  .companies-container {
    overflow-y: scroll;
    grid-template-columns: repeat(2, minmax(150px, 200px));
  }
  .companies-container div.companylogo13 {
    grid-area: unset;
  }

  .companies-container div.companylogo14 {
    grid-area: unset;
  }

  .companies-container div.companylogo15 {
    grid-area: 8 / 2;
  }

  .hero-container .text-container p br {
    display: none;
  }
}

@media (max-width: 500px) {
  .hero-container .text-container h1 {
    font-size: 2em;
  }

  .hero-container .text-container p {
    font-size: 1em;
    font-weight: 600;
  }
}

@media (max-width: 500px) {
  .container {
    text-align: center;
  }
}

@media (max-width: 450px) {
  .companies-container {
    overflow-y: scroll;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
  }
}

@media (max-width: 400px) {
  .hero-container .text-container h1 {
    font-size: 1.5em;
  }
}
