@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Kufam:ital,wght@0,400..900;1,400..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "cairo", sans-serif;
}

:root {
  --black-color: #030712;
  --gray-black-color: #f9fafb;
  --white-color: #f8fafc;
  --gray-color: #d1d5db;
  --red-color: #991b1b;
  --cards-background-color: rgb(57, 57, 57);
  --left-to-right-background-gradient: linear-gradient(
    90deg,
    rgba(57, 57, 57, 1) 0%,
    rgba(87, 85, 86, 1) 100%
  );

  --background-gradient: linear-gradient(
    360deg,
    rgba(57, 57, 57, 1) 0%,
    rgba(87, 85, 86, 1) 100%
  );
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Kufam", sans-serif;
  font-weight: 700;
}

.container {
  width: 95%;
  max-width: 1440px;
  margin: 0 auto;
  text-align: right;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-between {
  align-items: space-between;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

.button-group {
  width: fit-content;
}

a:link.button,
a:visited.button {
  background-color: var(--white-color);
  color: var(--black-color);
  text-decoration: none;
  border: none;
  padding: 1em 2em;
  border-radius: 0.5em;
  transition: background-color 0.3s ease-in-out;
  font-size: 1em;
  font-weight: 600;
}

a:hover.button,
a:hover.button {
  background-color: var(--gray-color);
}

.sub-title {
  color: var(--red-color);
  display: inline-block;
  font-size: 1.3em;
  margin-bottom: 0.6em;
  font-weight: 600;
}

.title {
  font-size: 3em;
  margin-bottom: 0.8em;
  font-weight: 600;
}

.mobile-image {
  display: none;
}

body.active {
  overflow: hidden;
}

/* Header section */
.header-container {
  padding: 1.6rem 0;
}

.logo {
  width: 100px;
  height: 100px;
}

.logo img {
  border-radius: 1rem;
}

.burger-icon {
  position: relative;
  text-align: left;
  cursor: pointer;
  width: 50px;
  height: 50px;
  z-index: 4;
}

.burger-icon .line {
  display: inline-block;
  width: 50px;
  height: 5px;
  background-color: #333;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.burger-icon .line-1 {
  top: 40%;
  transform: translate(0, -50%);
}

.burger-icon .line-2 {
  top: 60%;
  transform: translate(0, -50%);
}

.header.active .burger-icon .line-1 {
  top: 50%;
  rotate: 45deg;
}

.header.active .burger-icon .line-2 {
  top: 50%;
  rotate: -45deg;
}

.nav-links {
  width: 40%;
  height: 100vh;
  background-color: #eee;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  translate: -100% 0;
  transition: all 0.3s ease-in-out;
}

.nav-links h2 {
  margin-top: 1em;
  margin-bottom: -1em;
}

.header.active .nav-links {
  translate: 0 0;
}

.nav-overLay {
  width: 100%;
  height: 100%;
  scale: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  background-color: #000;
}

.header.active .nav-overLay {
  scale: 1;
  opacity: 0.2;
  z-index: 2;
}

.links-container {
  width: 100%;
  height: 90%;
  align-self: flex-end;
  padding: 0 2em 2em;
  gap: 2em;
}

.home-nav {
  gap: 1.5em;
}

.contact a,
.home a {
  padding: 1em 2em;
  background-color: #fff;
}

.contact a:link,
.home a:link,
.contact a:visited,
.home a:visited {
  text-decoration: none;
  color: var(--black-color);
  transition: all 0.3s ease-in-out;
  border-radius: 0.5em;
}

.contact a:hover,
.home a:hover,
.contact a:active,
.home a:active {
  box-shadow: 0 0 1em var(--gray-color);
}

.companies-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(150px, 200px));
  gap: 1em;
  align-items: center;
  justify-items: center;
  align-self: center;
}

.companies-container div {
  height: 100%;
}

.companies-container a:link,
.companies-container a:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: unset;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.companies-container a:hover,
.companies-container a:active {
  transform: translateY(-5px);
}

.companies-container img {
  width: 150px;
}

.companies-container img.companylogo7 {
  width: 250px;
}

.companies-container img.companylogo11 {
  width: 80px;
}

.companies-container img.companylogo9 {
  width: 220px;
}

.companies-container div.companylogo13 {
  grid-area: 4 / -2;
}

.companies-container div.companylogo14 {
  grid-area: 4 / -3;
}

.companies-container div.companylogo15 {
  grid-area: 4 / -4;
}
/* End of Header section */

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
