@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Kufam:ital,wght@0,400..900;1,400..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "cairo", sans-serif;
}

:root {
  --black-color: #030712;
  --gray-black-color: #f9fafb;
  --white-color: #f8fafc;
  --gray-color: #d1d5db;
  --red-color: #991b1b;
  --cards-background-color: rgb(57, 57, 57);
  --left-to-right-background-gradient: linear-gradient(
    90deg,
    rgba(57, 57, 57, 1) 0%,
    rgba(87, 85, 86, 1) 100%
  );

  --background-gradient: linear-gradient(
    360deg,
    rgba(57, 57, 57, 1) 0%,
    rgba(87, 85, 86, 1) 100%
  );
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Kufam", sans-serif;
  font-weight: 700;
}

.container {
  width: 95%;
  max-width: 1440px;
  margin: 0 auto;
  text-align: right;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-between {
  align-items: space-between;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

a:link.button,
a:visited.button {
  background-color: var(--white-color);
  color: var(--black-color);
  text-decoration: none;
  border: none;
  padding: 1em 2em;
  border-radius: 0.5em;
  transition: background-color 0.3s ease-in-out;
  font-size: 1em;
  font-weight: 600;
}

a:hover.button,
a:hover.button {
  background-color: var(--gray-color);
}

.sub-title {
  color: var(--red-color);
  display: inline-block;
  font-size: 1.3em;
  margin-bottom: 0.6em;
  font-weight: 600;
}

.title {
  font-size: 3em;
  margin-bottom: 0.8em;
  font-weight: 600;
}

.mobile-image {
  display: none;
}

body.active {
  overflow: hidden;
}
