:root {
  --new-primary-color: #3751A4;
  --new-hover-color: #263770;
}

.cards {
  margin-top: -5%;
}

.about-us-container {
  margin-top: 5em;
  position: relative;
  background: url("../../images/company\ 12/about us.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
