/* Header section */
.header-container {
  padding-top: 1.6rem;
}

.logo {
  width: 100px;
  height: 100px;
}

.logo img {
  border-radius: 1rem;
}

.burger-icon {
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 50px;
  z-index: 3;
}

.burger-icon .line {
  display: inline-block;
  width: 50px;
  height: 5px;
  background-color: #333;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.burger-icon .line-1 {
  top: 40%;
  transform: translate(0, -50%);
}

.burger-icon .line-2 {
  top: 60%;
  transform: translate(0, -50%);
}

.header.active .burger-icon .line-1 {
  top: 50%;
  rotate: 45deg;
}

.header.active .burger-icon .line-2 {
  top: 50%;
  rotate: -45deg;
}

.nav-links {
  width: 40%;
  height: 100vh;
  background-color: #eee;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  translate: -100% 0;
  transition: all 0.3s ease-in-out;
}

.nav-links h2 {
  margin-top: 1em;
  margin-bottom: -1em;
}

.header.active .nav-links {
  translate: 0 0;
}

.nav-overLay {
  width: 100%;
  height: 100%;
  scale: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  background-color: #000;
}

.header.active .nav-overLay {
  scale: 1;
  opacity: 0.2;
  z-index: 1;
}

.links-container {
  width: 100%;
  height: 90%;
  align-self: flex-end;
  padding: 0 2em 2em;
  gap: 2em;
}

.home-nav {
  gap: 1.5em;
}

.contact a,
.home a {
  padding: 1em 2em;
  background-color: #fff;
}

.contact a:link,
.home a:link,
.contact a:visited,
.home a:visited {
  text-decoration: none;
  color: var(--black-color);
  transition: all 0.3s ease-in-out;
  border-radius: 0.5em;
}

.contact a:hover,
.home a:hover,
.contact a:active,
.home a:active {
  box-shadow: 0 0 1em var(--gray-color);
}

.companies-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(150px, 200px));
  gap: 1em;
  align-items: center;
  justify-items: center;
  align-self: center;
}

.companies-container div {
  height: 100%;
}

.companies-container a:link,
.companies-container a:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: unset;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.companies-container a:hover,
.companies-container a:active {
  transform: translateY(-5px);
}

.companies-container img {
  width: 150px;
}

.companies-container img.companylogo7 {
  width: 250px;
}

.companies-container img.companylogo11 {
  width: 80px;
}

.companies-container img.companylogo9 {
  width: 220px;
}

.companies-container div.companylogo13 {
  grid-area: 4 / -2;
}

.companies-container div.companylogo14 {
  grid-area: 4 / -3;
}

.companies-container div.companylogo15 {
  grid-area: 4 / -4;
}
/* End of Header section */
