:root {
  --new-primary-color: #3265a1;
  --new-hover-color: #274d79;
}

.cards {
  margin-top: -5%;
}

.about-us-container {
  margin-top: 5em;
  position: relative;
  background: url("../../images/company\ 7/about us.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
