:root {
  --new-primary-color: #2A602F;
  --new-hover-color: #43994c;
}

.cards {
  margin-top: -5%;
}

.about-us-container {
  margin-top: 5em;
  position: relative;
  background: url("../../images/company\ 15/about us.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
