:root {
  --new-primary-color: #e6000d;
  --new-hover-color: #a80008;
}

.cards {
  margin-top: -5%;
}

.about-us-container {
  margin-top: 5em;
  position: relative;
  background: url("../../images/company\ 3/about us.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
