:root {
  --new-primary-color: #de1521;
  --new-hover-color: #a30f19;
}

.cards {
  margin-top: -5%;
}

.about-us-container {
  margin-top: 5em;
  position: relative;
  background: url("../../images/company\ 8/about us.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
